[DEFAULT]
num_engine_workers = {{ heat_engine_workers }}
environment_dir = /etc/heat/environment.d
template_dir = /etc/heat/templates
max_resources_per_stack = 1000
max_stacks_per_tenant = 512
action_retry_limit = 5
client_retry_limit = 2
max_server_name_length = 53
max_interface_check_attempts = 10
#max_nova_api_microversion = <None>
#max_ironic_api_microversion = <None>
event_purge_batch_size = 200
max_events_per_stack = 1000
stack_action_timeout = 3600
error_wait_time = 240
engine_life_check_timeout = 2
enable_stack_abandon = false
enable_stack_adopt = false
convergence_engine = true
observe_on_update = false
#default_software_config_transport = POLL_SERVER_CFN
#default_deployment_signal_transport = CFN_SIGNAL
#default_user_data_format = HEAT_CFNTOOLS
stack_scheduler_hints = false
encrypt_parameters_and_properties = false
periodic_interval = 60
instance_connection_is_secure = 0
#region_name_for_services = <None>
#region_name_for_shared_services = <None>
#shared_services_types = image,volume,volumev2
heat_stack_user_role = heat_stack_user
max_template_size = 524288
max_nested_stack_depth = 5
transport_url = rabbit://openstack:{{ rabbitmq_openstack_password }}@{{ keepalived_vip }}:{{rabbitmq_tls_port }}
heat_metadata_server_url = http://{{ keepalived_vip }}:{{ heat_cfn_port }}
heat_waitcondition_server_url = http://{{ keepalived_vip }}:{{ heat_cfn_port }}/v1/waitcondition
stack_domain_admin = heat_domain_admin
stack_domain_admin_password = {{ os_password }}
stack_user_domain_name = heat
# this option does not work for magnum k8s cluster
# it adds /v3 so public keystone endpoint becomes http://<ip>:5000/v3//v3
# So I commented in.
#server_keystone_endpoint_type = public

[auth_password]
[clients]
[clients_aodh]
[clients_barbican]
[clients_cinder]
[clients_designate]
[clients_glance]
[clients_heat]
[clients_keystone]
auth_uri = http://{{ keepalived_vip_svc | ternary(keepalived_vip_svc, keepalived_vip) }}:{{ keystone_port }}
[clients_magnum]
[clients_manila]
[clients_mistral]
[clients_monasca]
[clients_neutron]
[clients_nova]
[clients_octavia]
[clients_sahara]
[clients_senlin]
[clients_swift]
[clients_trove]
[clients_vitrage]
[clients_zaqar]
[cors]
[database]
connection = mysql+pymysql://{{ os_service_name }}:{{ db_password }}@{{ keepalived_vip }}/{{ os_service_name }}?charset=utf8&ssl_ca={{ mariadb_ca_cert }}
[ec2authtoken]
[eventlet_opts]
[healthcheck]
[heat_api]
bind_host = {{ ansible_host }}
workers = {{ heat_api_workers }}
[heat_api_cfn]
bind_host = {{ ansible_host }}
[keystone_authtoken]
www_authenticate_uri = http://{{ keepalived_vip }}:{{ keystone_port }}
auth_url = http://{{ keepalived_vip }}:{{ keystone_port }}
memcached_servers = {{ keepalived_vip }}:{{ memcached_port }}
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = {{ os_service_name }}
password = {{ os_password }}
[noauth]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
ssl = true
ssl_version = TLSv1_2
ssl_ca_file = {{ rabbitmq_ca_cert }}
heatbeat_in_pthread=False
rabbit_quorum_queue=True

[oslo_middleware]
[oslo_policy]
[paste_deploy]
[profiler]
[revision]
[ssl]
[trustee]
auth_type = password
auth_url = http://{{ keepalived_vip }}:{{ keystone_port }}
username = {{ os_service_name }}
password = {{ os_password }}
user_domain_name = default
[volumes]
